# Tuples
<p>A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.</p>
<p>Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −</p>
<pre class="result notranslate">tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
</pre>
<p>The empty tuple is written as two parentheses containing nothing −</p>
<pre class="result notranslate">tup1 = ();
</pre>
<p>To write a tuple containing a single value you have to include a comma, even though there is only one value −</p>
<pre class="result notranslate">tup1 = (50,);
</pre>
<p>Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.</p>
<h2>Accessing Values in Tuples</h2>
<p>To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example −</p>

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

<p>When the above code is  executed, it produces the following result −</p>
<pre class="result notranslate">tup1[0]:  physics
tup2[1:5]:  [2, 3, 4, 5]
</pre>
<h2>Updating Tuples</h2>
<p>Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates −</p>

In [3]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3)

(12, 34.56, 'abc', 'xyz')

<p>When the above code is executed, it produces the following result −</p>
<pre class="result notranslate">(12, 34.56, 'abc', 'xyz')
</pre>
<h2>Delete Tuple Elements</h2>
<p>Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.</p>
<p>To explicitly remove an entire tuple, just use the <b>del</b> statement. For example −</p>

In [4]:
tup = ('physics', 'chemistry', 1997, 2000);
print(tup);
del tup;
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

This produces the following result. Note an exception raised, this is because after <b>del tup</b> tuple does not exist any more −</p>
<pre class="result notranslate">('physics', 'chemistry', 1997, 2000)
After deleting tup :
Traceback (most recent call last):
   File "test.py", line 9, in &lt;module&gt;
      print tup;
NameError: name 'tup' is not defined
</pre>
<h2>Basic Tuples Operations</h2>
<p>Tuples respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new tuple, not a string.</p>
<p>In fact, tuples respond to all of the general sequence operations we used on strings in the prior chapter −</p>
<table class="table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">Python Expression</th>
<th style="text-align:center;">Results</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td>len((1, 2, 3))</td>
<td>3</td>
<td>Length</td>
</tr>
<tr>
<td>(1, 2, 3) + (4, 5, 6)</td>
<td>(1, 2, 3, 4, 5, 6)</td>
<td>Concatenation</td>
</tr>
<tr>
<td>('Hi!',) * 4</td>
<td>('Hi!', 'Hi!', 'Hi!', 'Hi!')</td>
<td>Repetition</td>
</tr>
<tr>
<td>3 in (1, 2, 3)</td>
<td>True</td>
<td>Membership</td>
</tr>
<tr>
<td>for x in (1, 2, 3): print x,</td>
<td>1 2 3</td>
<td>Iteration</td>
</tr>
</tbody></table>
<h2>Indexing, Slicing, and Matrixes</h2>
<p>Because tuples are sequences, indexing and slicing work the same way for tuples as they do for strings. Assuming following input −</p>

In [5]:
L = ('spam', 'Spam', 'SPAM!')

<p>&nbsp;</p>
<table class="table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;width:33%">Python Expression</th>
<th style="text-align:center;width:33%">Results</th>
<th style="text-align:center;width:33%">Description</th>
</tr>
<tr>
<td>L[2]</td>
<td>'SPAM!'</td>
<td>Offsets start at zero</td>
</tr>
<tr>
<td class="ts">L[-2]</td>
<td class="ts">'Spam'</td>
<td>Negative: count from the right</td>
</tr>
<tr>
<td>L[1:]</td>
<td>['Spam', 'SPAM!']</td>
<td>Slicing fetches sections</td>
</tr>
</tbody></table>
<h2>No Enclosing Delimiters</h2>
<p>Any set of multiple objects, comma-separated, written without identifying symbols, i.e., brackets for lists, parentheses for tuples, etc., default to tuples, as indicated in these short examples −</p>

In [6]:
print('abc', -4.24e93, 18+6.6j, 'xyz')
x, y = 1, 2;
print("Value of x , y : ", x,y)

abc -4.24e+93 (18+6.6j) xyz
Value of x , y :  1 2

<p>When the above code is executed, it produces the following result −</p>
<pre class="result notranslate">abc -4.24e+93 (18+6.6j) xyz
Value of x , y : 1 2
</pre>
<h2>Built-in Tuple Functions</h2>
<p>Python includes the following tuple functions −</p>
<table class="table-bordered">
<tbody><tr>
<th style="text-align:center;width:5%">Sr.No.</th>
<th style="text-align:center;width:95%">Function with Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td><a href="/python/tuple_cmp.htm">cmp(tuple1, tuple2)</a>
<p>Compares elements of both tuples.</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><a href="/python/tuple_len.htm">len(tuple)</a>
<p>Gives the total length of the tuple.</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><a href="/python/tuple_max.htm">max(tuple)</a>
<p>Returns item from the tuple with max value.</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><a href="/python/tuple_min.htm">min(tuple)</a>
<p>Returns item from the tuple with min value.</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><a href="/python/tuple_tuple.htm">tuple(seq)</a>
<p>Converts a list into tuple.</p></td>